* {
    box-sizing: border-box;
}

/* text styles */

h1 {
    font-family: 'Playfair Display SC', serif;
    float: left;
    margin-top: 15px;
    margin-left: 5%;
    font-size: 40px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

/* nav bar */

header nav {
    float: right;
    margin-top: 30px;
    color: #dde1e4;
    margin-right: 10%;
}

header nav a {
    float: left;
    display: block;
    margin: 0 10px 0 10px;
    font-size: 18px;
    color: #373737;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

a:hover {
    color: #4e7467;
}

header nav span {
    float: left;
    display: block;
    font-family: sans-serif;
    font-size: 18px;
}

/* images */

.img {
    max-width: 100%;
    float: left;
}


.img1 {
    display: inline-block;
    float: left;
    max-width: 49.5%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.img2 {
    display: inline-block;
    max-width: 49.5%;
}

.imgline2 {
    display: inline-block;
    max-width: 49.5%;
    margin-left: 1%;
    float: right;
    margin-bottom: 0.5%;
}

.imgline3 {
    display: inline-block;
    float: left;
    max-width: 49.5%;
    margin-bottom: 0.5%;
}

.imgline4 {
    display: inline-block;
    float: left;
    max-width: 49.5%;
    margin-right: 1%;
    margin-top: 0.5%;
    margin-bottom: 1%;
}

.imgline5 {
    display: inline-block;
    float: right;
    max-width: 49.5%;
    margin-top: 0.5%;
    margin-bottom: 1%;
}

/* hover */

.hover11 img {
	opacity: 1;
	transition: 0.4s ease-in-out;
}

.hover11:hover img {
	opacity: 0.5;
}

/* media query */

@media screen and (max-width: 1000px) {
    .img img {
       max-width: 100%;
    }
}